body {
    text-align: center;
    margin: 0;
}

h1 {
    margin: 0 auto;
}

h4,
h5 {
    width: 100%;
    margin: 0;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.instructions {
    width: 30%;
}

ul {
    text-align: left;
}

.d-pad {
    height: 300px;
    width: 100%;
}

#up,
#down {
    width: 100%;
    height: 30%;
}
#left,
#right {
    width: 50%;
    height: 40%;
}

#game {
    width: 40%;
}

.scores {
    width: 30%;
    height: auto;
}

.score-title {
    height: 50px;
}

.enemyScores {
    width: 50%;
}

.playerScores {
    width: 50%;
}

button {
    font-size: 20px;
}

#toysRetrieved {
    height: 75px;
}

#reload {
    margin-top: 50px
}

@media screen and (max-width: 800px) {
    .mobile-disappear {
        display: none;
    }
    .d-pad {
        height: 250px;
    }
    #game {
        order: 1;
        width: 505px;
        height: 555px;
        overflow: hidden;
    }
    #gameCanvas {
        position: fixed;
        top: -50px;
        left: 0;
    }
    .instructions {
        order: 3;
        width: 315px;
        margin: 0;
    }
    .scores {
        order: 2;
        width: 190px;
        margin: 0;
        background-color: #ffff00;
    }
    #reload {
        margin: 0 auto;
    }
    .score-title {
        height: 25px;
    }
    button {
        background-color: #0099ff;
    }
}